:root {
  --yellow: #fffbdb;
  --blue: #224870;
  --red: #a3333d;
  --orange: #ff7f51;
  --light-blue: #00a6ed;
  --light-yellow: #fffdf1;
  --pink: #D42990;
  --elevation-small: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --elevation-high: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --header-height: calc(48px + 2 * 10px);
  --footer-height: 20px;
}

@font-face {
  font-family: Literata;
  src: url("../assets/Literata.ttf");
}

@font-face {
  font-family: Milonga;
  src: url("../assets/Milonga-Regular.ttf");
}

body {
  font-family: Literata;
  background-color: var(--light-yellow);
}

/* HEADER */
.header {
  text-decoration: none;
  color: var(--blue);
}
header h1 {
  font-family: Milonga;
  margin: 0px;
  width: 100%;
  text-align: center;
}
header h1 span {
  font-size: 0.75em;
  white-space: pre;
}
header {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  padding: 10px;
  background: var(--yellow);
  /* box-shadow: var(--elevation-small); */
  /* z-index: 1; */
  color: var(--blue);

  display: flex;
  gap: 0.5rem;
  align-items: center;
}


.searchbar {
  position: absolute;
  display: inline-block;
  padding: 4px;

  background-color: white;

  border-color: darkgray;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;

  left: 16px;
  top: 50%;
  width: 260px;
  transform: translateY(-50%);
}

.searchbar:focus {
  outline: none;
}

/* MAIN */
main {
  min-height: calc(100dvh - var(--header-height));
  /* padding-top: var(--header-height); */
  padding-bottom: 4rem;
}

.magnifier {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--blue);
}