
.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 20px;
}

.card {
    display: inline-block;
    width: 256px;
    padding: 16px;
    margin: 8px;

    /* border-color: lightgray; */
    background: #fffdf1;
    color: #224870;
    border: none;
    border-radius: 16px;
    box-shadow: var(--elevation-small);

    text-decoration: none;
    transition: all 300ms;

}

.card:hover {
    box-shadow: var(--elevation-high);
}

.title {
    margin: 0 0 4px 0;
    height: 40px;
    line-height: 1em;
}

.band {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tags {
    margin-left: 6px;
}

.icon {
    height: 12px;
    margin: 0 2px 0 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: var(--light-yellow);
    box-shadow: var(--elevation-small);
}
