
.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 32px;
}

.card {
    display: inline-block;
    width: 256px;
    padding: 16px;
    margin: 8px;

    /* border-color: lightgray; */
    background: white;
    color: var(--blue);
    border: none;
    border-radius: 16px;
    box-shadow: var(--elevation-small);

    text-decoration: none;
    transition: all 300ms;

}

.card:hover {
    box-shadow: var(--elevation-high);
}

.title {
    margin: 0 0 4px 0;
    height: 40px;
    line-height: 1em;
    letter-spacing: -0.0375em;
}

.band {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Milonga;
}

.band svg {
    width: 1em;
    height: 1em;
    color: var(--blue);
    padding-left: 0.5em;
}
