
.recipe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 1.125rem;
}

.recipe img {
    max-width: 50%;
    max-height: 300px;
    border-radius: 16px;
    border: 1px solid var(--black);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    padding: 1px 4px;
    border: 1px solid red;
    border-radius: 4px;
}

.flag {
    height: calc(1.5em + 4px);
}

.flag svg {
    height: 100%;
    width: auto;
}

.head {
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.icon {
    width: 3rem;
    margin: 8px;
}

.homebutton {
    position: fixed;
    z-index: 10;
}

.author {
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--gray);
}

.yields {
    display: inline-flex;
    flex-direction: column;
    padding-inline: 8px;
    gap: 8px;
}

.yields-btn {
    background: var(--black);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    padding: 0;
    color: var(--light-gray);
    display: inline flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:focus-visible {
        background: var(--gray);
    }

    &:active {
        background: var(--black);
        color: var(--gray);
    }
}

@media (hover: hover) {
    .yields-btn:hover {
        background: var(--gray);
    }
}

.yields-label {
    padding: 4px 8px;
}

.yields-input {
    width: 60px;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid var(--black);
    border-radius: 6px;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.yields-and-ingredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: max(30%, 320px);
}

.ingredients {
    padding: 16px;
    border: 1px solid var(--black);
    border-radius: 16px;
}

.instructions-container {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.instructions {
    & li + li {
        margin-top: 8px;
    }
}

.github {
    display: inline;
    margin-left: 0.25em;
}

@media print {
    .homebutton {
        display: none;
    }
}

@media (width <= 768px) {
    .instructions-container {
        flex-direction: column;
        gap: 16px;
    }
}

@media (width < 560px) {
    .recipe img {
        max-width: 100%;
    }
}
