
.recipe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 1.125rem;
}

.recipe img {
    max-width: 50%;
    max-height: 300px;
}

.tags {
    display: flex;
    gap: 8px;
}

.tag {
    padding: 1px 4px;
    border: 1px solid red;
    border-radius: 4px;
}

.flag {
    height: calc(1.5em + 4px);
}

.flag svg {
    height: 100%;
    width: auto;
}

.head {
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.icon {
    width: 3rem;
    margin: 8px;
}

.homebutton {
    position: fixed;
    z-index: 10;
}

.author {
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--gray);
}

.yield-label {
    padding: 4px;
}

.yield-input {
    width: 60px;
}

@media print {
    .homebutton {
        display: none;
    }
}

@media (width < 560px) {
    .recipe img {
        max-width: 100%;
    }
}
