
.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.sheet {
    --columns: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    column-count: var(--columns);
}

.chords {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--pink);
    font-weight: 600;
}

.highlight {
    text-decoration: underline;
}

.head {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.head > div {
    display: inline-block;
    margin: 0 auto;
}

.head h2 {
    font-size: 4rem;
    display: inline-block;
    margin: 0 2rem 0 0;
}

.head h3 {
    font-size: 3rem;
    display: inline-block;
    font-weight: 400;
    margin: 0 1rem 0 0;
}

.head .tags {
    font-size: 1.5rem;
    color: dimgrey;
}

.head button {
    display: inline-block;
    background-color: var(--pink);
    color: white;
    border-radius: 10px;
    padding: 10px 16px;
    margin: 1rem;
    font-weight: 500;
    border: none;
}

.transpose .chords {
    min-width: 7.5rem;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.icon {
    width: 3rem;
    margin: 8px;
}

.homebutton {
    position: fixed;
    z-index: 10;
}

@media print {
    .homebutton {
        display: none;
    }

    .transpose {
        display: none !important;
    }

    .head h2 {
        font-size: 2.5rem;
    }

    .head h3 {
        font-size: 1.5rem;
    }
}

.chordblock {
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    white-space: pre;
}

.chordblock .chords {
    padding-right: 0.5em;
    grid-row: 1;
}

.line>* {
    vertical-align: bottom;
}

.line.empty .chordblock {
    grid-template-rows: 1fr;
}

.chord-grid {
    display: grid;
    grid-auto-flow: column;
}

.chord-bar {
    border-left: 2px solid var(--pink);
    padding: 0 0.5em;
    display: grid;
    grid-auto-flow: column;
}

.chord-bar:last-child {
    border-right: 2px solid var(--pink);
}

.block {
    break-inside: avoid;
    margin-bottom: 1em;
}

.chorus {
    padding-left: 2em;
    border-left: 2px solid var(--blue);
}

.chord-definition {
    font-style: italic;
}
